.CommentList {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 2rem;
  &Heading{
    font-size: 2rem;
  }

  &Comment {
    border: 2px solid #831FF2;
    border-radius: 10px;
    padding: 1rem;

    &Name{
      font-size: 1.8rem;
    }
    &Body {
      font-size: 1.5rem;
    }
    &User{
      font-size: 1.5rem;
    }
  }
}