@use "sass:color";
$purple: #831FF2;
.Main{
  margin-top: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:3rem;
}

.PostList {
  width: 100%;
  max-width: 160rem;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;

  &Post {
    border: 0.1rem solid $purple;
    border-radius: 0.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &Title {
      font-size: 2rem;
      text-transform: uppercase;
      color: $purple;
      margin-bottom: 1rem;
    }
    &Body{
      font-size: 1.5rem;
    }
    &Link {
      display: block;
      width: fit-content;
      background-color: $purple;
      padding: 0.75rem 1rem;
      color: #fff;
      font-size: 1.4rem;
      text-decoration: none;
      border-radius: 0.5rem;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: color.adjust($purple, $lightness: -20%);
      }
    }
  }
}

