.Main{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Post{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 60rem;
  &Id{
    padding: 1rem;
    text-shadow: 2px 2px 4px #831FF2;
  }
  &Title{
    padding: 1rem;
    font-size: 2rem;
    color:#831FF2;
    text-align: center;
  }
  &Body{
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
  }
}