@use "sass:color";
$purple: #831FF2;
.NavBar {
  &List {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 2rem;
    list-style-type: none;
    gap: 2rem;
    font-size: 2.5rem;
    background-color: $purple;
    &Link {
      text-decoration: none;
      color: #fff;
      padding: 1.5rem 1rem;
      transition: all 0.4s ease-in-out;
      border-radius: 0.6rem;
      &:hover {
        background-color: color.adjust($purple, $lightness: -20%);
      }
    }
  }
}